@import './variables';

.wrapper {
    width: 60%;
}

// Contact Heading
.contact-banner {
    background: url(./../assets/contact-header.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 400;
            padding-top: 120px;
        }
    }
}

// Contact Info
.contact-form {
    padding: 50px 0px;
    

    .contact-parent {
        display: flex;
        box-shadow: 0 0 10px $darkeygrey;

        .contact-info {
            background: url(./../assets/contact.jpg);
            background-repeat: no-repeat;
            background-size: center;
            width: 260px;
            height: 450px;
            padding: 20px 20px;

            h2 {
                color: $white;
                font-size: 1.2rem;
                
            }

            p {
                color: $white;
                font-size: 0.7rem;
            }
        }
    }
}    

// Form styling
form {
    padding: 40px 0;
}
fieldset {
    border: 0;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: calc(40%);

    input {
        border: 0;
        width: 150px;
    }
}

.first-row,
.second-row {
    width: 90%;
    // justify-content: space-between;
}

.first-name,
.last-name,
.phone,
.email,
input {
    border-bottom: 1px solid $darkeygrey;
    width: 150px;
}

input::placeholder {
    font-size: 0.7rem;
    font-style: italic;
}

button {
    background: $green;
    color: $white;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid $green;
    font-size: 0.7rem;
    text-transform: uppercase;

}
        button:hover {
            cursor: pointer;
            box-shadow: 0 0 10px $darkeygrey;
        }


.button {
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1000px) {
    .footer-parent {
        display: block;
        flex-direction: wrap;
        justify-content: space-evenly;
       }  
    
}

@media (max-width: 800px) {
    .contact-parent {
        flex-direction: column;

    .contact-info {
        background-position: center;
        width: auto;
        height: auto;
    }
    }

    
}


@media (max-width: 720px) {


    .footer-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
        
    .footer-menu.show {
        position:relative;
        display: block;
        justify-content: center;
        background-color: #abd37321;


    }

.ham-button {
        display: block;
        }
}

@media (max-width: 660px) {
    .first-row,
    .second-row {
        flex-direction: column;
        align-content: center;
    }    
    footer {
        position: relative;
    }

.footer-menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

.footer-menu.show {
    display: flex;
    }

.footer-parent {
    display: block;
   }   

.links .account .services {
        display: none;
        flex-direction: column;
        width: 100%;
    }    

}                  


