$green: #abd373;
$darkeygrey: #4c4c4c;
$black: #000;
$lightgrey: #f6f7fb;
$white: #fff;
$faintblue: #88cce2;

.gallery{
    background: $white;
}

.products-head-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        text-transform: uppercase;
        font-size: 2rem;
        position: relative;
    }
}

.products-head-text h2:before {
    content: "";
    width: 100px;
    height: 3px;
    background: $green;
    left: -120px;
    top: 50%;
    position: absolute;
}

.products-head-text h2:after {
    content: "";
    width: 100px;
    height: 3px;
    background: $green;
    right: -120px;
    top: 50%;
    position: absolute;
}

.product-buttons-section {
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        background: $white;
        margin: 10px;
        padding: 10px 25px;
        border-radius: 3px;
        border: 1px solid lightgrey;
        font-size: 22px;
    }

    button:active,
    button:hover,
    button:focus {
        color: $green;
        border: 1px dashed $green;
    }
}

.plant-list {
    background-color: $white;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
}

.plant-list ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    img {
        margin-bottom: 40px;
    }
}



.likeButton {
    cursor: pointer;
    font-size: 35px;
    background: transparent;
    border: none;
    color: lightgrey;
    position: relative;
    bottom: 350px;
    right: -250px;

}

.addButton {
        background: transparent;
        position: relative;
        bottom: 130px;
        left: -30px;
        box-shadow: 5px 5px 5px lightgrey;
        padding: 8px;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;
        }




.likeButton:disabled {
  color: lightgray;
  cursor: auto;
 }

.likeButton:active,
.likeButton:hover:not([disabled]),
.likeButton:focus {
  color: palevioletred;
}

@media (max-width: 820px) {
    .inventory {
        display: block;
        flex-direction: wrap;
        align-content: center;
        width: 80%;
        margin-left: 60px;



    }
}

@media (max-width: 614px) {
    .wrapper .inventory {
        width: 80%;
        flex-direction: column;
        align-content: center;
    }

    .product-buttons-section {

        flex-direction: column;
        align-content: center;
        
        button { 
        margin-bottom: 10px;
        width: 8rem;
        border: 3px solid $green;
        background-color: #abd3731f;
    }
}
}